Home page
<br>
 <a href="/login">Login</a>
<br>
Logout <a href="/logout"> Logout </a>
<br>
Register <a href="/register"> Register </a>
<br>
Products list <a href="/products"> products </a>
<br>
Add new item
<a href="/products/new"> new </a>