<% include partials/header.ejs %>
Home page

Products list <a href="/products"> products </a>
<br>
Add new Product
<a href="/products/new"> new </a>
<br>
cart 
<a href="/cart"> cart </a>
<br>

checkout cart
<a href="/checkout"> checkout </a>

<% include partials/footer.ejs %>