<% include partials/header.ejs %>
Home page
<br>
 <a href="/login">Login</a>
<br>
<a href="/login/facebook"> Login with facebook</a>
<br>
<a href="/login/google"> Login with google</a>
<br>
Logout <a href="/logout"> Logout </a>
<br>
Register <a href="/register"> Register </a>
<br>
Products list <a href="/products"> products </a>
<br>
Add new item
<a href="/products/new"> new </a>
<br>
cart 
<a href="/cart"> cart </a>
<br>

checkout cart
<a href="/checkout"> checkout </a>

<% include partials/footer.ejs %>