<% include partials/header.ejs %>
Home page

Products list
 <a href="/products"> products </a>
<br>
Add new Product
<a href="/products/new"> new </a>
<br>
GET ALL ORDERS
<a href="/admin/orders"> Orders </a>

<br>
Create new category
<a href="/admin/cat/new">New Category</a>

<br>

<% include partials/footer.ejs %>