<form action="/register" method="POST">
    <input type="text" name="email" placeholder="uname"> <br>
    <input type="password" name="password" placeholder="pword"> <br>
    <input type="submit">
</form>