order
Your order details are <br>

<% foundProduct.forEach(function(product){ %>
<%= product.name %>
<%= product.price %>
<br>

<% }) %>
<br><br>
Total amount : <%= total %> <br>
    Your address & contact details:
<br>
<!-- Add a way to select address using button onClick and form hidden element -->
<!-- send address id, item id and quantity through post request -->
<% foundAddress.forEach(function(add){ %>
    <%= add.address %>
    <br>
<% }) %>

<br>
<form action="/order" method="POST">
<button>Place order
</button>
</form>

Place order