<% products.forEach(function(product){ %>
    <%= product.name %>
    <%= product.id %>
     <a href="/cart/<%= product.id %>"> Add to cart </a>
     <a href="/order/new/<%= product.id %>"> Order this item </a>
    <br>
    
<% }) %>