<form action="/products" method="POST">
    <input type="text" name="name" placeholder="Product name"> <br>
    <input type="number" name="price" placeholder="price"> <br>
    <!--<input type="text" name="image" placeholder="Photo"> <br>-->
    <input type="submit">

</form>